<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="scotchTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html { 
        	overflow-y:scroll; 
       	}

        body { 
        	padding-top:50px; 
        }

        #todo-list { 
        	margin-bottom:30px; 
        }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="js/angular.min.js"></script><!-- load angular -->
    <script src="js/ng-file-upload-shim.min.js"></script>
    <script src="js/ng-file-upload.min.js"></script>
    <script src="js/controllers/main.js"></script> <!-- load up our controller -->
    <script src="js/services/todos.js"></script> <!-- load our todo service -->
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <% if (user.local.email == "test@test.com") { %>
                <h1>What up <%= user.local.display_name %>!!!!! <span class="label label-info">{{ todos.length }}</span></h1>
            <% }
                else {
            %>
                <h1>You're not rob...</h1>
            <%
                }
            %>
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="todo in todos">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> <a href="/uploads/{{todo.photo}}" target="_blank">{{ todo.text }} ({{ todo.price }}) - {{ todo.author }} at {{ todo.address }}</a>
                    </label>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
                        <input type="text" class="form-control input-lg text-center" placeholder="Your Address" ng-model="formData.address">
                        <input type="number" class="form-control input-lg text-center" placeholder="Price" ng-model="formData.price">
                        <input ngf-select="" ng-model="picFile" name="file" ngf-accept="'image/*'" required="" type="file">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo(picFile)">Add</button><br />
                    <a class="btn btn-danger btn-lg" href="/logout">Logout</a>
                </form>
            </div>
        </div>

    </div>

</body>
</html>